body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#slide h3{color :#f3e447;font-size: 66px;box-shadow: #f3e447;}
#slide p{font-size: 24px;}
#protocol { color :#f3e447}
#protocol h3{font-size: 66px;color :#f3e447;}
#protocol h4{font-size: 48px;color :#f3e447;}
#protocol p{font-size: 24px;color :#f3e447;}
#plinth { color :#f3e447;font-size: 24px;}
#plinth h3{font-size: 66px;color :#f3e447;}
#gateway { color :#f3e447}
#gateway h3{font-size: 66px;color :#f3e447;}
#gateway p{font-size: 24px;color :#f3e447;}
#intro_protocol {font-size: 24px;}
#intro_gateway {font-size: 24px;}