body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#protocol { color :#f4de71}
#protocol h3{font-size: 66px;color :#f4de71;}
#plinth { color :#f4de71;font-size: 24px;}
#plinth h3{font-size: 66px;color :#f4de71;}
#gateway { color :#f4de71}
#gateway h3{font-size: 66px;color :#f4de71;}
#intro_protocol {font-size: 24px;}
#intro_gateway {font-size: 24px;}