body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  #container{width: 100%;margin: 0 auto;}
  #nav{width: 200px;float: left;margin: 0 auto;padding: 15px 15px 15px 15px;}
  #body{width: 568px;float: right;margin: 0 auto;padding: 15px 15px 15px 15px;}
}

@media screen and (min-width: 769px)  and (max-width: 992px) {
  #container{width:760px;margin: 0 auto;}
  #nav{width: 30%;}
  #body{width: 70%;}
}

@media screen and (min-width: 993px)  and (max-width: 1200px) {
  #container{width:980px;margin: 0 auto;}
  #nav{width: 30%;}
  #body{width: 70%;}
}

@media screen and (min-width: 1200px){
  #container{width:1200px;margin: 0 auto;}
  #nav{width:210px;float: left;margin: 0 auto;background: #FFFFFF;padding: 15px 10px 15px 10px;}
  #body{width:950px;float: right;margin: 0 auto;background: #FFFFFF;padding: 15px 10px 15px 10px;} 
}

#nav{font-size: 21px;position: fixed;top:0px;-webkit-user-select: none;user-select: none;}
#nav ul{padding: 0px 0px 0px 0px;text-align: left;}
#nav ul li{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav ul li:hover{opacity: 0.6;}
#nav ul li:focus{background: #BBAA33;}
#nav dt{padding: 9px 0px 0px 10px;text-align: left;background: #FFFFFF;}
#nav dt dl{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav dt dl:hover{opacity: 0.6;}
#nav dt dl:focus{background: #BBAA33;}
/* #nav dt .active{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav dt .active:hover{opacity: 0.6;}
#nav dt .active:focus{background: #BBAA33;} */
#logo img{width: 60%;margin: 0 auto;}
#logo p{margin: 0 auto;}
#crumbs {color:#BBAAFF;background: #FFFFFF;padding: 3px 0px 3px 0px;cursor: pointer;}

#footer{padding-top: 15px;font-size: 24px;}
#pre{margin: 0 auto;float: left;}
#next{margin: 0 auto;float: right;}

/* #nav ul .active{background: #4861ac;color: #FFFFFF;} */
#nav dt .active{background: #4861ac;color: #FFFFFF;}