body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  #container{width: 100%;margin: 0 auto;}
  #nav{width: 200px;float: left;margin: 0 auto;padding: 15px 15px 15px 15px;}
  #body{width: 568px;float: right;margin: 0 auto;padding: 15px 15px 15px 15px;}
}

@media screen and (min-width: 769px)  and (max-width: 992px) {
  #container{width:760px;margin: 0 auto;}
  #nav{width: 30%;}
  #body{width: 70%;}
}

@media screen and (min-width: 993px)  and (max-width: 1200px) {
  #container{width:980px;margin: 0 auto;}
  #nav{width: 30%;}
  #body{width: 70%;}
}

@media screen and (min-width: 1200px){
  #container{width:1200px;margin: 0 auto;}
  #nav{width:210px;float: left;margin: 0 auto;background: #FFFFFF;padding: 15px 10px 15px 10px;}
  #body{width:950px;float: right;margin: 0 auto;background: #FFFFFF;padding: 15px 10px 15px 10px;} 
}


#nav{font-size: 21px;position: fixed;top:0px;-webkit-user-select: none;user-select: none;height: 100%;}
#nav ul{padding: 0px 0px 0px 0px;text-align: left;}
#nav ul li{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav ul li:hover{opacity: 0.6;}
#nav ul li:focus{background: #BBAA33;}
#nav dt{padding: 9px 0px 0px 10px;text-align: left;background: #FFFFFF;}
#nav dt dl{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav dt dl:hover{opacity: 0.8;}
#nav dt dl:focus{background: #BBAA33;}
/* #nav dt .active{cursor: pointer;padding: 5px 0px 5px 10px;list-style: none;margin: 0 auto;}
#nav dt .active:hover{opacity: 0.6;}
#nav dt .active:focus{background: #BBAA33;} */
#logo img{width: 60%;margin: 0 auto;}
#logo p{margin: 0 auto;}
#crumbs {color:#BBAAFF;background: #FFFFFF;padding: 3px 0px 3px 0px;cursor: pointer;}
#mark{position: fixed;bottom: 0px;margin: 0 auto;width:210px;}
#mark ul{font-size:18px;}
#mark ul li input{margin: 0 auto;padding: 0px 0px 0px 0px;margin-right: 5px;}
#remove{width: 100%;padding-bottom: 10px;}
#remove input{margin: 0 auto;margin-left: 9px;padding: 0px 0px 0px 0px;float: left;}
#remove img{width: 24px;height: 24px;margin: 0 auto;float: right;cursor: pointer;}

#remove img:hover{opacity: 0.6;}
#search{width: 90%;}
#search small{color:#BBBBBB;font-size: 12px;}
#search input {width: 100%;height: 30px;font-size: 16px;border-radius: 5px;border: 1px solid #EEEEEE;padding-left: 10px;}

/* #history{margin: 0 auto;padding: 5px 0px 15px 0px;width: 100%;}
#history #history_list{margin: 0 auto;width: 50%;float: left;}
#history #owner{margin: 0 auto;width: 50%;float: right;}
#history_list span{font-size: 18px;background: #EEEEEE;padding: 5px 10px 5px 10px;border-radius: 5px;float: left;}
#history_list ul{margin: 0 auto;overflow: hidden;float: left;}
#history_list ul li{list-style: none;margin: 0 auto;float: left;}
#owner{text-align: right;} */

#md_container{display:block}

#comment{padding: 20px 0px 20px 0px;margin: 0 auto;}

#footer{padding-top: 15px;font-size: 24px;}
#pre{margin: 0 auto;float: left;}
#next{margin: 0 auto;float: right;}

#nav ul .active{color: #ee9c18;font-weight: 600;}
#nav dt .active{color: #ee9c18;font-weight: 600;}