body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px)  and (max-width: 992px) {
}

@media screen and (min-width: 993px)  and (max-width: 1200px) {
}

@media screen and (min-width: 1200px){
}
.logo{font-size: 16px;color:#444444}

.cell{text-align: center;}
.cell img{width: 80%;object-fit: cover;border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #BBBBBB;
}
.cell h6{margin-top: 4px;}
.status {width: 12px;height: 12px;border-radius: 6px;z-index: 100;float: left;
    position: relative;left: 3px;top:14px;}
.green{background: #6fc86f;}
.red{background: #b83a10;}

.type{height: 14px;line-height: 14px;font-size: 12px;text-align: right; z-index: 100;float: right;
  position: relative;right: 10px;top:14px;color: #FFFFFF;font-weight: 600;}

.board{background: #444444;color:#FFFFFF;border-radius: 12px;padding: 15px 10px 15px 15px;}


#stage{width: 100%;height: 180px;background: #FFFFFF;
  position: fixed;left: 0px;top:400px;box-shadow: 2px 2px 2px 1px #BBBBBB;z-index: 999;}
.stage{background: #000000;opacity: 0.2;z-index: 960;position: fixed;}

#mask{width:100%;height: 100%;background: #000000;opacity: 0;z-index: 900;position: fixed;left: 0px;top:0px;}