### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Node.js
/node_modules/
package-lock.json
yarn.lock

node/demo
node/freesaying/vHistory.min.js
node/freesaying/vMarket.min.js
node/freesaying/vMix.min.js
node/freesaying/vSaying.min.js
node/freesaying/vSocial.min.js